body{
    background-image: url("../images/xwingBackground.jpg");
    background-size: cover;
}

.playerCard{
    height: fit-content;
    width: fit-content;
    background-color: white;
    font-size: small;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 1em;
    font-weight: bold;
}

.enemyCard{
    height: fit-content;
    width: fit-content;
    background-color: red;
    font-size: small;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 1em;
    font-weight: bold;
}

.defenderCard{
    color: white;
    height: fit-content;
    width: fit-content;
    background-color: black;
    font-size: small;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 1em;
    font-weight: bold;
}

#selectionRow,#enemyRow,#defenderRow{
    display: inline-flex;
    height: 200px;
}

#cardImage{
    height: 90px;
    width: 90px;
}

.fade{
    opacity: 30%;
}

h1{
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.5);
    width: fit-content;
    padding: 1em;
}